/*geral*/

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    font-size: 10px;
}

.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.titulo-secao{
    margin-top: 4rem;
    text-align: center;
    color: #7a7a7a;
    
}

.titulo-secao h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    margin-bottom: 4rem;

}

.margem-direita{
    margin-left: 1.5rem;
 
}







/*
h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;

}

h2{
    font-size: 32px;
    color: #7a7a7a;

}

h3{
    margin-bottom: 20px;
    font-size: 18px;
    color: #7a7a7a;

}


*/


/* banner*/

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}

header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 4px;
    background: #fffd73;
}

header #toggle:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 4px;
    background: #fffd73;
}

.banner.active header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.banner.active header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding:100px;
    background: url(./fotos/bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;

}

.banner.active{
    transform: translate(400px);
}

#menu{
    position: absolute;
    top: 0;
    left: 200;
    width: 400px;
    height: 100vh;
    background: #d0c9fe;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;

}

#menu.active{
    left: 0;
}

#menu ul{
    position: relative;
    display: flex;
    flex-direction: column;
}

#menu ul li{
    list-style: none;
}

#menu ul li a{
    color: #fffd73;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem 0;
}

.apresentação{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.apresentação h2{
    font-size: 2.2rem;
    color: #5c5c5c;
    justify-content: center;
}

.apresentação h1{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.8rem;
    justify-content: center;
    
}

.apresentação-ajuste{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons a{
    font-size: 2rem;
    color: #5c5c5c;
    transition: all 0.5s ease;
}

.icons a:hover{
    color: #fffd73;
}

@media (max-width: 767px){
    header{
        padding: 20px 50px;
    }

    .apresentação {
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        padding: 0.4rem;
        justify-content: center;
        
    }

    .apresentação h2{
        font-size: 2rem;       
    }
    
    .apresentação h1{        
        font-size: 2rem;        
    }    

}

/* fim banner*/



/* sobre*/

.sobre{
    width: 100%;
    padding: 4.5rem;
    margin-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.foto-sobre img{    
    margin-right: 1rem;
    flex: 1;
    width: 100%;
    
}

.texto-sobre{
    width: 40%;
    line-height: 1.5rem;
    font-size: 0.8rem;
    flex: 1;
    
}

.titulo-secao-sobre h2{
    padding-bottom: 30px;
    font-size: 32px;
    color: #7a7a7a;
}

/* fim sobre*/

/* habilidades*/

.habilidades{
    background-color: #a498fe;
    padding-top: 2rem;
    padding-bottom: 8rem;

}

.icones-texto-hab{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;

}

.habilidade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}

.icon-container{
    width: 4rem;
    height: 4rem;
    border: 3px solid #fffd73;
    background-color: #fff;
    margin-bottom: 2rem;
    display: flex;
    border-radius: 50%;

}

.icon-container i{
    color: #5c5c5c;
    font-size: 1.8rem;
    margin: auto;
}

.habilidade p{
    font-size: 0.8rem;
    line-height: 1.3rem;
}



/* fim habilidades*/


/* trabalhos*/


.primeiro-trabalho{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}


.explicação1 h3{
    font-size: 1.2rem;
    margin-bottom: 2rem;

}

/* fim trabalhos*/


/* contato*/

.contato{
    background-color: #a498fe;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

form{
    width: 70%;
    margin: 0 auto;
}

form label{
    font-size: 1.2rem;
}

input, select, textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
}

input[type="submit"]{
    width: initial;
    background-color: #fffd73;
    padding: .5rem 1rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

input[type="submit"]:hover{
    color: #fff;
    background-color: #8073e4;
}


/* fim contato*/



/* footer*/

footer{
    width: 100%;
    text-align: center;
    background-color: #8073e4; 
    padding: 1rem 0;
    position: relative;     

}
footer p{
    font-size: .6rem;
}

.up{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    top: -1.5rem;
    right: 2rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i{
    color: #5c5c5c;
    font-size: 1.2rem;
    margin: auto;
}

/*animação*/

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(255, 253, 115, 0.99);        
    }
    70%{
        box-shadow: 0 0 0 1rem rgba(255, 253, 115, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255, 253, 115, 0);

    }
}


/*
.habilidades{
    margin-top: 80px;
    min-height: 100vh;
    background-color: #a498fe ;
    padding: 40px;
}

.habilidades h2{
    padding-bottom: 80px;
}


.icones-texto-hab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.habilidade{
    max-width: 15%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.habilidade i{
    font-size: 30px;
    color: gray;
    text-align: center;
    padding-bottom: 30px;

}

.habilidade p{
    text-align: center
}


.meus-trabalhos{
    margin-top: 50px;
   
}

h2.trabalho{
    font-size: 40px;
    color: gray;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.container-trabalhos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.primeiro-trabalho{
    box-shadow: 1px 1px 5px gray;
    padding: 20px;
    margin: auto;
    margin-bottom: 80px;
    transition: all 0.5s ease;    
    padding-bottom: 35px;
    color: #7a7a7a;

    max-width: 500px;
    
    
    
}

.primeiro-trabalho:hover{
    box-shadow: 4px 4px 10px gray;
}

.explicação1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   

}


footer{
    width: 100%;
    height: 100vh;
    max-height: 20px; 
    background-color: #8073e4;      

}

*/