*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    font-size: 10px;
    line-height: 3rem;
}

/*
h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;

}

h2{
    font-size: 32px;
    color: #7a7a7a;

}

h3{
    margin-bottom: 20px;
    font-size: 18px;
    color: #7a7a7a;

}


*/

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}

header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 4px;
    background: #fffd73;
}

header #toggle:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 4px;
    background: #fffd73;
}

.banner.active header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.banner.active header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding:100px;
    background: url(./fotos/bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;

}

.banner.active{
    transform: translate(400px);
}

#menu{
    position: absolute;
    top: 0;
    left: 200;
    width: 400px;
    height: 100vh;
    background: #d0c9fe;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;

}

#menu.active{
    left: 0;
}

#menu ul{
    position: relative;
    display: flex;
    flex-direction: column;
}

#menu ul li{
    list-style: none;
}

#menu ul li a{
    color: #fffd73;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem 0;
}

.apresentação{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.apresentação h2{
    font-size: 2.2rem;
    color: #5c5c5c;
    justify-content: center;
}

.apresentação h1{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.8rem;
    justify-content: center;
    
}

.apresentação-ajuste{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons a{
    font-size: 2rem;
    color: #5c5c5c;
    transition: all 0.5s ease;
}

.icons a:hover{
    color: #fffd73;
}

@media (max-width: 767px){
    header{
        padding: 20px 50px;
    }

    .apresentação {
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        padding: 0.4rem;
        justify-content: center;
        
    }

    .apresentação h2{
        font-size: 2rem;       
    }
    
    .apresentação h1{        
        font-size: 2rem;        
    }

    

}


/*
.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}


header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.4);
    padding: ;
}

.barra-cima{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
}

.icons{
    max-width: 100px;
    justify-content: space-between;
    font-size: 25px;
    color: gray;
}

.menu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner{
    background-image: url("./fotos/banner.jpg");
    background-position: top;
    background-size: 100% cover;
    padding: 0;
}

.banner-dentro{
    padding: 150px 0;
    text-align: right;

}
*/

.sobre{
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.foto-sobre{
    align-items: center;
    justify-content: center;
    margin: auto;
}

.texto-sobre{
    max-width: 40%;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}

.sobre h2{
    padding-bottom: 50px;
}



.habilidades{
    margin-top: 80px;
    margin-bottom: 120px;
    background-color: #a498fe ;
    padding: 40px;
}

.habilidades h2{
    padding-bottom: 80px;
}


.icones-texto-hab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.habilidade{
    max-width: 15%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.habilidade i{
    font-size: 30px;
    color: gray;
    text-align: center;
    padding-bottom: 30px;

}

.habilidade p{
    text-align: center
}


.meus-trabalhos{
    margin-top: 50px;
   
}

h2.trabalho{
    font-size: 40px;
    color: gray;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.container-trabalhos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.primeiro-trabalho{
    box-shadow: 1px 1px 5px gray;
    padding: 20px;
    margin: auto;
    margin-bottom: 80px;
    transition: all 0.5s ease;    
    padding-bottom: 35px;
    color: #7a7a7a;

    max-width: 500px;
    
    
    
}

.primeiro-trabalho:hover{
    box-shadow: 4px 4px 10px gray;
}

.explicação1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   

}


footer{
    width: 100%;
    height: 100vh;
    max-height: 20px; 
    background-color: #8073e4;      

}

.pfooter{
    text-align: center;
    justify-content: center;
}
